.moviePosterBig{
    max-height: 240px;
    float : right;

    margin: 4px;
    -webkit-border-radius :4px;
    -moz-border-radius    :4px;
    border-radius         :4px;
    border: 2px solid #000;
}

.jumbotron h1{
    font-size: 24px;
    font-weight: bold;
}

.subtext {
    font-size: 11px;
    color: silver;
}

.favoriteLink {
    color: #ff0000;
    font-size: 32px;
}

.favoriteLink.grey {
    color: #808080;
}

ul {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-position: inside;
    padding-left: 0;
}

.persons li {
    height: 78px;
}

.persons span {
    display: block;
}

.persons span.personPhoto {
    float: left;
    margin: 5px;
}

.personName {
    font-weight: bold;
}
