.moviePosterBig{
    max-height: 240px;
    float : right;

    margin: 4px;
    -webkit-border-radius :4px;
    -moz-border-radius    :4px;
    border-radius         :4px;
    border: 2px solid #000;
}

.jumbotron h1{
    font-size: 24px;
    font-weight: bold;
}

.favoriteLink {
    color: #ff0000;
    font-size: 32px;
}

.favoriteLink.grey {
    color: #808080;
}
